.aside-menu-right{
    display: flex;
    flex-direction: column;
    width: 140px;
    background-color:#181c32;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    top: 100px!important;
    bottom: 40px!important;
}

.aside-fixed .aside.aside-menu-right{
    right: 0;
    left: inherit;
   
}



.aside-menu-left .aside-menu .menu>.menu-item>.menu-link {
    width: 74px;
    height: 74px;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    border-radius: 0.475rem;
    
}

.aside-menu-left{

    display: flex;
    flex-direction: column;
    box-shadow: var(--kt-aside-box-shadow);
    background-color: #1e1e2d;
    padding: 0;
}

.aside-menu-left  .aside-menu .menu>.menu-item>.menu-link .menu-icon , .aside-menu-left .aside-footer .btn-custom{

--kt-aside-menu-icon-bg-color: transparent!important;

}

.aside-menu-left .aside-menu .menu>.menu-item.here>.menu-link .menu-icon, .aside .aside-menu .menu>.menu-item>.menu-link.active .menu-icon {
        background-color: transparent; 
        color: var(--kt-primary)!important;
}

.aside-menu-left .aside-menu .menu>.menu-item.here>.menu-link .menu-icon .svg-icon, .aside .aside-menu .menu>.menu-item.here>.menu-link .menu-icon i, .aside .aside-menu .menu>.menu-item>.menu-link.active .menu-icon .svg-icon, .aside .aside-menu .menu>.menu-item>.menu-link.active .menu-icon i {
    color: var(--kt-aside-menu-icon-color)!important;
}

.aside-menu-left .aside-menu .menu>.menu-item>.menu-link .menu-icon .svg-icon, .aside .aside-menu .menu>.menu-item>.menu-link .menu-icon i {
    color: var(--kt-text-gray-100);
}

 /*.aside-menu-left .menu-title-gray-700 .menu-item .menu-link .menu-title {
   color: var(--kt-text-gray-100);

}*/

.aside-menu-left .aside-menu .menu > .menu-item.here > .menu-link {
    transition: color 0.2s ease;
    background-color: #1b1b28;
    color: #ffffff;
}



.app-header-2  {
    padding-left: 150px;

    .app-navbar {
        display: flex;
    }

    span.menu-link.active{

    }
     .menu > .menu-item.here > .menu-link{
        transition: color 0.2s ease;
        background-color: var(--kt-app-header-base-menu-link-bg-color-active);
        color: var(--kt-primary);
     }

     .menu .menu-item.here > .menu-link {
        transition: color 0.2s ease;
    background-color: var(--kt-menu-link-bg-color-active);
    color: var(--kt-primary);
     }
}






/*****************************************************************************************/





.input-group-text {
  width: 65px;
}
.sonuc {
  width: 120px;
  display: inline-block;
  vertical-align: middle;
  line-height: 48px;
}
.input-group-text {
  display: inline-block;
  vertical-align: middle;
}
#kargoType-input::-webkit-input-placeholder,
#pazarType_input::-webkit-input-placeholder {
  text-align: right;
}
.sonuc-text {
  height: 48px;
}
.sonuc-text .form-control {
  padding: 0 0 0 .75rem;
}
.sonuc-text .input-group-text {
  padding: 0;
  font-size: 12px;
}
#sonucContainer .form-control {
  line-height: 48px;
  font-size: 12px;
}
.select2-container .select2-selection--single {
  height: 44px;
  border-radius: 0;
  border-color: #ced4da;
  display: flex;
  align-items: center;
}
#kargoType_input_width {
  width: 13%;
}
#pazarType_input, #kargoType_input {
  border-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 37px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #6c757e;
  font-size: 12px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 37px;
}
span.select2-selection.select2-selection--single {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 16px 12px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}
span.select2.select2-container.select2-container--default {
  width: 100% !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0 12px;
}
.nav-link[aria-selected="false"] {
  background-color: #e9ecef;
  color: var(--text-dark);
}
.active {
  color: #495057 !important;
}
select option[value="divider"] {
  color: silver;
  font-size: 7px;
}


/*.outChart div .form-control {
  background-color: #838383;
  color: white;
}
.outChart div .input-group-text {
  background-color: #646464;
  color: white;
}*/

.outChart div .form-control {
  background-color: var(--kt-success-light);
  color: var(--kt-success);
}
.outChart div .input-group-text {
  background-color: var(--kt-success-light);
  color: var(--kt-success);
}

/*.form-control {
  background-color: #fff;
  color: #000;
}*/
.input-group-text{
  background-color: #fff;
  color: #000;
}

.inChartContainer {
  position: relative;
}
.none {
  display: none;
}
#vl1, #vl2, #vl3, #vl4, #vl5, #vl6 {
  position: absolute;
}
#vl2, #vl3, #vl4, #vl6 {
  display: none;
}
#vl1 {
 /* border-left: 1px solid rgba(255,255,255,0.5);*/
  height: 260px;
  left: 50%;
  top: 120px;
}
#vl2 {
 /* border-left: 1px solid rgba(255,255,255,0.5);*/
  height: 430px;
  left: 50%;
  top: 430px;
}
#vl3 {
 /* border-top: 1px solid rgba(255,255,255,0.5);*/
  width: 40%;
  left: 51%;
  top: 905px;
}
#vl4 {
  /*border-top: 1px solid rgba(255,255,255,0.5);*/
  width: 75%;
  right: 12%;
  top: 905px;
}
#vl5 {
  left: 298px;
  width: 10px;
  height: 450px;
  /*border-right: 1px solid rgba(255,255,255,0.5);*/
}
#vl6 {
 /* border-left: 1px solid rgba(255,255,255,0.5);*/
  height: 450px;
  left: 50%;
  top: 1150px;
}
/*#gider, #giderVergisiz, #pazarTutari {
  line-height: 48px;
}*/

#calculatorForm .nav-link {
  background-color:transparent;
}

.list-group-item , #btnAddNewPazar,#btnAddNewKargo , #btnDeleteAllKargo , #btnDeleteAllPazar , #hesaplaBtn ,#paylasBtn {
  border-radius: 0!important;
}

#pazar_list .list-group-item span:nth-of-type(2){
  display: none!important;
}

.list-group .list-group-item{
  transition: all .3s ease;
  &:hover{
    background-color: #ed1e1e1c;
  }
}
#pazartype_input_width {
   width: 13.2%
 }


 
@media screen and (min-width: 1399px){
  #vl5 {
    left: 419px;
  }
}
@media screen and (max-width: 1399px){
  #pazartype_input_width {
    width: 11.3%
  }
  #vl5 {
    left: 359px;
  }
}
@media screen and (max-width: 1199px){
  #pazartype_input_width {
    width: 8.7%
  }
  #vl5 {
    left: 298px;
  }
}
@media screen and (max-width: 991px){
  #pazartype_input_width {
    width: 13.2%
  }
  #vl2, #vl3, #vl4, #vl5 {
    display: none;
  }
}
@media screen and (max-width: 767px){
  #vl1 {
    display: none;
  }
  #gider, #giderVergisiz {
    line-height: 24px !important;
  }
}
@media screen and (max-width: 540px){
  #vergilerToplami {
    line-height: 24px !important;
  }
}
@media screen and (max-width: 528px){
  #pazarTutari {
    line-height: 24px !important;
  }
}
@media screen and (max-width: 516px){
  #gider, #giderVergisiz {
    line-height: 16px !important;
  }
}


/*******************************************/

.tab-content .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding: 0!important;
}


.net-earnings .fs-lg-2tx {
  font-size: 2.15rem!important;
}

.net-earnings .fs-4 {
  font-size: 1.2rem!important;
}

.price-chart-detail .flex-1 {
  flex: 1!important;
}



.selling-detail input[type="number"] {
  border-radius: 0!important;
  border:1px solid #ced4da;
}

.price-chart-detail .select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0 0!important;
}
#select2-kategoriParamType-container{
  padding: 0 12px!important;
}

.price-chart-detail .form-select {
  border-radius: 0!important;
}

.category-form-type .select2-selection {
  padding-left: 15px!important;
}

.pazarType_input {
  padding-left: 5px!important;
  padding-right: 0!important;
}


.price-chart-detail .modal-dialog{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-chart-detail .percent {
  height: 43px!important;
}

.fade:not(.show){
  opacity: 1!important;
}



.create-price-btn {
 position: absolute;
 right: 0;
 top: -10px;
 &:hover{
  
 }
}